<link rel="stylesheet" href="../assets/css/landing.css">
<div class="main-view">
  <!-- First row -->
  <div class="holaMundo">
    <div class="article">
        <section class="content" style="padding: 5px; font-size: medium;">
            <h1>Hola mundo!</h1>  
            <p>Es común leer personas discutiendo los efectos que tuvo la extensión de la imprenta por todo el mundo <a href="#ref1"><sup>[1]</sup></a>, 
                el material impreso y el intercambio de ideas sin precedentes que llevó a la humanidad del medioevo al renacimiento. Un cambio de época que
                pudo haber iniciado nuevamente gracias al desarrollo de los grandes modelos de lenguaje (LLM), la base de las aspiraciones hacia una 
                <b style="color: #ff4081">Inteligencia Artificial General</b>, y cuyos efectos todavía nos resultan imposibles de advertir. Esta tecnología tiene el 
                potencial de cambiar radicalmente la forma en la que nos relacionamos con la información, ya estamos viendo cómo podemos acceder a traducciones, no 
                solo entre idiomas, sino entre niveles de abstracción, entre formas y modelos que usamos para entender y describir el mundo. Se abrió la puerta del acceso 
                libre a una base de datos humana, una colección de experiencias, memorias y reflexiones; una de <b style="color: #ff4081">conocimientos comunes</b> 
                y abiertos.</p>
      
            <blockquote>
                <p>"Yo imagino <b style="color: #0b6cda">un mundo en el que quepan muchos mundos</b>"</p>
                <footer>— Arturo Escobar <cite>usa esta frase Zapatista para ilustrar el concepto de <b style="color: #ff4081">pluriverso.</b></cite></footer>
            </blockquote>
      
            <p>En sus propuestas de alternativas al desarrollo retoma las visiones marginalizadas de mujeres, indígenas, campesinos y afrodescendientes que entienden a 
                cada individuo en su relación con los otros, una característica relacional que nos mantiene interconectados entre humanos y no humanos, superando la división 
                entre cultura y naturaleza. Sugiere la necesidad de un sistema que responda a la diversidad epistémica de la experiencia humana y resalta la importancia de 
                construir desde abajo y desde las periferias, una alternativa al modelo hegemónico occidental, blanco y masculino. Escobar esboza un proyecto al que llama: 
                <b style="color: #0b6cda">"Transiciones: un espacio para la investigación y diseños hacia el pluriverso" </b><a href="#ref2"><sup>[2]</sup></a>, en el que 
                introduce la pregunta sobre las comunicaciones que serían necesarias para una transición, qué conjunto de prácticas y tecnologías necesitamos en un mundo en 
                el que, efectivamente, quepan todos los mundos.</p>

            <p>Surge entonces la necesidad de desbordar las disciplinas hacia un tipo de conocimiento que comprenda la multidimensionalidad de nuestros desafíos sociales y 
                use un enfoque al que Jesús Barbero llama transdisciplinariedad, para pensar en los problemas del <b style="color: #ff4081">mundo</b>. Él menciona que:</p>
      
            <blockquote>
                <p>"Las claves entonces de las nuevas figuras de razón se hallan en la <b style="color: #ff4081">interfaz y el hipertexto</b>, en 
                    cuanto dispositivos de articulación de múltiples tipos de lenguajes, saberes y escrituras, que hacen parte de un nuevo <b style="color: #ff4081">ecosistema 
                    comunicativo</b> entrelazador de medios audiovisuales, telecomunicaciones y computador, y desestabilizador de las instituciones tradicionales del saber"</p>
                <footer>— Jesús Barbero <a href="#ref3"><sup>[3]</sup></a></footer>
          </blockquote>
      
            <p>Las reflexiones de estos autores me llevan al concepto central de la apuesta de <b style="color: #0b6cda">alfabeto.digital</b>:
                <b style="color: #ff4081">la interfaz</b>. Plataformas, corporaciones y gobiernos actúan como grandes represas que interrumpen o desvían los cauces naturales 
                de los ríos de la información. Para lograrlo han desarrollado sistemas operativos, programas, procesos de almacenamiento, transformación, análisis y visualización 
                de datos, aplicaciones, modelos predictivos y algoritmos automatizados; en otras palabras, sus herramientas son la interfaz con la que logran controlar nuestra 
                <b style="color: #ff4081">experiencia de usuario </b><a id="footnote-1-ref" href="#footnote-1"><sub>1</sub></a>, estas garantizan un determinado flujo de datos, 
                signos y símbolos, y dificultan la superación de las condiciones de desigualdad o la construcción de nuevos significados y formas de relacionamiento. La idea de la 
                soberanía digital y tecnológica cobra relevancia y me surgen las preguntas:</p>

            <ol>
                <li>¿Qué se necesita para desencadenar un proceso de <b style="color: #ff4081">transformación y alfabetización digital popular</b>?</li>
                <li>¿Cómo se diseña un sistema que nos habilite para ser <b style="color: #ff4081">soberanos</b> y nos permita <b style="color: #ff4081">confiar</b> en la 
                    información que usamos para tomar decisiones, para leer el mundo, para vivir?</li>
            </ol>

            <p>El agua es esencial para todas las formas de vida en la Tierra, cada especie ha desarrollado una relación única con ella, habilita el funcionamiento de su biología
                celular. El mensaje de la vida está codificado en su ciclo y llega a todas partes para influir en las decisiones de cada individuo, determina el clima y las 
                migraciones. La información en nuestro <b style="color: #ff4081">sistema social</b> cumple un rol similar, nos permite adaptarnos a las condiciones del ambiente, 
                coordinarnos con otros individuos y emplear los recursos disponibles para realizar actividades cada vez más complejas. Es irónico, en cierto sentido, que incluso 
                los sistemas de Inteligencia Artificial hayan desarrollado una relación en la que dependen de enormes cantidades de agua para su existencia. La información existe 
                representada en <b style="color: #0b6cda">prácticas, costumbres, saberes, imágenes, sonidos y textos</b>, y aunque no podemos ver exactamente cómo, podemos intuir 
                que se mueve de acuerdo con algún tipo de ritmo y que hay un ciclo del cuál todos hacemos parte.</p>
            
            <p>Contaminar el agua o contaminar la información tiene consecuencias similares, y hemos ido entendiendo progresivamente de la importancia estratégica que esta última 
                tiene para la conservación de los medios que hacen posible nuestra existencia; nos están dando de beber agua contaminada, el agua potable es cara y escasa, y muchos 
                recurren al agua salada del mar para no morir de sed.</p>

            <p>Este parece no ser un problema únicamente de <b style="color: #ff4081">Plataformas</b>, los <b style="color: #ff4081">gobiernos</b> no nos ofrecen registros precisos 
                que nos faciliten la vida, en cambio, todos los días nos enfrentamos a unas burocracias que parecen absurdas y dificultan -cuando no impiden- el acceso efectivo a los 
                servicios del <b style="color: #ff4081">Estado</b>. La <b style="color: #ff4081">prensa</b> no nos facilita ponernos de acuerdo puesto que no tiene la capacidad de 
                ser imparcial, aún si fueran transparentes respecto de sus intereses y financiación, en el mejor de los casos tendríamos claros los sesgos con los que nos informan; sin 
                embargo, la necesidad de sobrevivir en el mercado de la atención resultó en el cambio a modelos de suscripción en los que se paga por información de calidad (que no libre 
                de prejuicios), exactamente la misma dificultad que nos encontramos en la <b style="color: #ff4081">academia</b> cuando queremos consultar un artículo o una revista 
                indexada. No somos dueños de la música que escuchamos ni de las películas que vemos y, acceder al historial o a los datos que podrían <b style="color: #0b6cda">agregar 
                valor y dar contexto</b> a nuestros pensamientos es una tarea para un ingeniero, no para un usuario.</p>

            <p><b style="color: #ff4081">La interfaz</b> puede ser entendida como el <b style="color: #0b6cda">conjunto de herramientas</b> que determinan nuestra experiencia en 
                el mundo digital; sin embargo, es posible también afirmar que, en este momento histórico del desarrollo de nuestra especie, casi toda experiencia sensible está intervenida 
                de alguna manera por el vínculo que tenemos con la tecnología. Las relaciones económicas que nos permiten satisfacer <b style="color: #ff4081">necesidades</b> básicas, 
                nuestros <b style="color: #ff4081">deseos</b> e incluso nuestras <b style="color: #ff4081">emociones</b> están constantemente amenazadas por las dinámicas de un mercado, 
                que no buscan ofrecernos una vida digna o encontrar un equilibrio, sino sacar el mayor provecho de nuestro tiempo y de los recursos del planeta, en beneficio de la acumulación 
                de riqueza en pocas manos.</p>

            <p>Hace unos años descubrí la <b style="color: #ff4081">imaginación moral </b><a href="#ref4"><sup>[4]</sup></a>, la posibilidad de llegar a acuerdos para transformar conflictos 
                y coexistir en futuros que imaginamos posibles. Yo creo que ha llegado la hora en la que todos debemos <b style="color: #0b6cda">hacernos responsables</b> y para ello necesitamos 
                construir una interfaz diferente, una que reconozca el interés común en regular las condiciones de nuestra vida, una en la que podamos <b style="color: #0b6cda">confiar</b>, en 
                la que podamos <b style="color: #0b6cda">optar libremente</b> por el intercambio, la cooperación o la competencia con otros individuos.</p>

            <p>La <b style="color: #ff4081">apropiación y el desarrollo de habilidades digitales</b> surgen como saberes de carácter &lt;<b style="color: #0b6cda">no utópico, sino atópico</b>, 
                cuyo lugar es el <b style="color: #ff4081">"sin lugar"</b>&gt; </b><a href="#ref3"><sup>[3]</sup></a>, y como no podemos todavía ubicarlos en ningún lado, no podemos saber aún a 
                qué futuro representan; lo que sí sabemos es que es urgente. Esta es una invitación abierta a que trabajemos juntos en la <b style="color: #ff4081">deconstrucción y reconstrucción</b> 
                de nuestras relaciones sociales, a que tomemos la palabra de Chimamanda cuando señala que:
            
            <blockquote>
                <p><b style="color: #0b6cda">"La cultura no hace a la gente. La gente hace la cultura".</b></p>
                <footer>— Chimamanda Ngozi <a href="#ref5"><sup>[5]</sup></a></footer>
            </blockquote>  
          
            <section class="references">
                <h2>Referencias</h2>
                <ol>
                    <li id="ref1">Rummel E, Wilson M, Kooistra M. Printing and the book. In: <em>Renaissance and Reformation</em>. Oxford University Press; 2010. Available from: 
                        <a href="http://dx.doi.org/10.1093/obo/9780195399301-0004"; target="_blank">http://dx.doi.org/10.1093/obo/9780195399301-0004</a></li>
                    <li id="ref2">Escobar A. <em>Sentipensar con la tierra: Nuevas lecturas sobre desarrollo, territorio y diferencia.</em> Ediciones Unaula; 2014. p. 139.</li>
                    <li id="ref3">Martín Barbero J. <em>Transdisciplinariedad: Notas para un mapa de sus encrucijadas cognitivas y sus conflictos culturales</em> [Internet]. 2005 
                        [cited 2025 Mar 9]. Available from:<a href="../assets/library/transdisciplinariedad-martin-barbero.pdf"; target="_blank">
                        https://www.debatecultural.net.ve/Observatorio/JesusMartinBarbero2.htm</a></li>
                    <li id="ref4">Lederach JP. <em>La imaginación moral</em>. Editorial Norma; 2008.</li>
                    <li id="ref5">Adichie CN. <em>We should all be feminists</em> [Internet]. In: TED Talks [Video]. 2017 [cited 2025 Mar 9]. Available from:
                        <a href="https://www.ted.com/talks/chimamanda_ngozi_adichie_we_should_all_be_feminists"; target="_blank">
                        https://www.ted.com/talks/chimamanda_ngozi_adichie_we_should_all_be_feminists</a></li>
                </ol>
                <hr width="100%" size="1" color="black">
                <ol>
                    <li id="footnote-1">
                        <p>Entendiendo la experiencia de usuario como una colección de interacciones que suceden entre una persona y un entorno 
                            o dispositivo; el tiempo, las posibilidades de uso y las entradas o salidas del sistema.
                            <a href="#footnote-1-ref">&#8617;</a></p>
                    </li>
                </ol>
            </section>
        </section>
    </div>
  </div>
  <div class="helloWorld">
    <div class="article">
        <section class="content" style="padding: 5px; font-size: medium;">
            <h1>Hello world!</h1>
            
            <p>It is common to find discussions about the effects of the spread of the printing press worldwide <a href="#ref1"><sup>[1]</sup></a>, the dissemination of 
                printed material, and the unprecedented exchange of ideas that led humanity from the Middle Ages to the Renaissance. This shift in historical periods may 
                be happening again, driven by the development of large language models (LLMs), which form the foundation of aspirations toward <b style="color: #ff4081">
                Artificial General Intelligence</b>. The full extent of their impact remains impossible to foresee. This technology has the potential to radically change 
                how we interact with information. We are already witnessing how it enables not only translations between languages but also between levels of abstraction, 
                between forms and models we use to understand and describe the world. The door has been opened to free access to a human knowledge base—a collection of 
                experiences, memories, and reflections; a repository of <b style="color: #ff4081">shared, open knowledge</b>.</p>
    
            <blockquote>
                <p>"I imagine <b style="color: #0b6cda">a world where many worlds fit</b>"</p>
                <footer>— Arturo Escobar <cite>uses this Zapatista phrase to illustrate the concept of <b style="color: #ff4081">pluriverse</b>.</cite></footer>
            </blockquote>
    
            <p>In his proposals for alternatives to development, he draws from the marginalized perspectives of women, Indigenous peoples, farmers, and Afro-descendants, 
                who understand each individual in relation to others—an inherent relational characteristic that keeps us interconnected, both human and non-human, overcoming
                the division between culture and nature. He suggests the need for a system that responds to the epistemic diversity of human experience and emphasizes the 
                importance of building from the bottom up and from the peripheries—an alternative to the hegemonic Western, white, and male model. Escobar outlines a project 
                called <b style="color: #0b6cda">"Transitions: A Space for Research and Design Toward the Pluriverse"</b> <a href="#ref2"><sup>[2]</sup></a>, in which he 
                raises the question of what forms of communication would be necessary for a transition, and what set of practices and technologies we need in a world where, 
                indeed, all worlds can fit.</p>
    
            <p>This raises the need to move beyond traditional disciplines toward a form of knowledge that captures the multidimensionality of our social challenges. Jesús 
                Martín Barbero calls this approach <b style="color: #ff4081">transdisciplinarity</b>—a way to think about world issues. He argues that:</p>
    
            <blockquote>
                <p>"The keys to the new figures of reason lie in the <b style="color: #ff4081">interface and hypertext</b>, as devices for articulating multiple types of 
                    languages, knowledge systems, and writings, which form part of a new <b style="color: #ff4081">communicative ecosystem</b> that interweaves audiovisual 
                    media, telecommunications, and computing, while destabilizing traditional knowledge institutions"</p>
                <footer>— Jesús Barbero <a href="#ref3"><sup>[3]</sup></a></footer>
            </blockquote>
    
            <p>These reflections lead me to the central concept behind <b style="color: #0b6cda">alfabeto.digital</b>: <b style="color: #ff4081">the interface</b>. Platforms,
                 corporations, and governments act like massive dams that interrupt or divert the natural flow of information. To do so, they have developed operating systems, 
                 software, storage processes, data transformation, analysis and visualization tools, applications, predictive models, and automated algorithms. In other words, 
                 their tools function as an interface that shapes our <b style="color: #ff4081">user experience</b><a id="footnote-1-ref" href="#footnote-1"><sub>1</sub></a>. 
                 These interfaces regulate a specific flow of data, signs, and symbols, making it difficult to overcome inequality or construct new meanings and forms of interaction. 
                 The idea of digital and technological sovereignty becomes increasingly relevant, prompting questions such as:</p>
    
            <ol>
                <li>What is needed to trigger a process of <b style="color: #ff4081">popular digital literacy and transformation</b>?</li>
                <li>How can we design a system that enables us to be <b style="color: #ff4081">sovereign</b> and allows us to <b style="color: #ff4081">trust</b> the information 
                    we use to make decisions, to understand the world, and to live?</li>
            </ol>
    
            <p>Water is essential to all life forms on Earth. Each species has developed a unique relationship with it, as it enables cellular biological processes. Life's message is 
                encoded in its cycle, reaching all areas and influencing individual decisions. It determines climate and migration patterns. Information in our <b style="color: #ff4081">
                social system</b> plays a similar role: it allows us to adapt to environmental conditions, coordinate with others, and use available resources to perform increasingly complex 
                activities. In a sense, it is ironic that even Artificial Intelligence systems have developed a relationship in which they depend on vast amounts of water for their existence. 
                Information is embedded in <b style="color: #0b6cda">practices, customs, knowledge, images, sounds, and texts</b>. While we may not see exactly how, we can sense that it moves 
                according to some kind of rhythm and that there is a cycle in which we all participate.</p>
    
            <p>Contaminating water or contaminating information has similar consequences, and we are gradually understanding the strategic importance of the latter in preserving the conditions 
                that make our existence possible. We are being given contaminated water to drink; potable water is expensive and scarce, and many turn to the saltwater of the sea to avoid dying 
                of thirst.</p>
    
            <p>This does not seem to be a problem limited to <b style="color: #ff4081">platforms</b>. <b style="color: #ff4081">Governments</b> do not provide us with accurate records that 
                facilitate our daily lives. Instead, we face bureaucracies that often seem absurd and make it difficult—if not impossible—to effectively access state services. 
                The <b style="color: #ff4081">press</b> does not help us reach a consensus, as it lacks the capacity for impartiality. Even if it were transparent about its interests and funding 
                sources, at best, we would only be aware of the biases shaping our information. However, the need to survive in the attention economy has led to a shift toward subscription models, 
                where quality information (not free from bias) comes at a cost—the same challenge we face in <b style="color: #ff4081">academia</b> when trying to access journal articles or 
                indexed publications. We do not own the music we listen to or the movies we watch. Accessing our own history or the data that could <b style="color: #0b6cda">add value and context</b> 
                to our thoughts is a task for an engineer, not for a user.</p>
    
            <p>The interface can be understood as the <b style="color: #0b6cda">set of tools</b> that define our experience in the digital world. However, it is also possible to argue that, at 
                this historical moment in the technological development of our species, almost every sensory experience is mediated by our relationship with technology. The economic relationships 
                that allow us to meet <b style="color: #ff4081">basic needs</b>, our <b style="color: #ff4081">desires</b>, and even our <b style="color: #ff4081">emotions</b> are constantly 
                threatened by market dynamics that do not seek to provide us with a dignified life or achieve balance but rather to extract the maximum profit from our time and the planet's resources 
                for the accumulation of wealth in a few hands.</p>
    
            <p>A few years ago, I discovered the <b style="color: #ff4081">moral imagination</b> <a href="#ref4"><sup>[4]</sup></a>—the ability to reach agreements that transform conflicts and enable 
                coexistence in the futures we envision as possible. I believe the time has come for all of us to <b style="color: #0b6cda">hold ourselves accountable</b>. To do so, we need to build a 
                different interface—one that recognizes the common interest in regulating the conditions of our lives, one that we can <b style="color: #0b6cda">trust</b>, one in which we can 
                <b style="color: #0b6cda">freely choose</b> between exchange, cooperation, or competition with others.</p>
    
            <p>The appropriation and development of digital skills emerge as knowledge that is &lt;<b style="color: #0b6cda">not utopian, but atopic</b>, belonging to a 
                <b style="color: #ff4081">'placeless place'</b>&gt; <a href="#ref3"><sup>[3]</sup></a>. Since we cannot yet place them anywhere, we cannot yet know what future they represent. What we 
                do know is that they are urgently needed. This is an open invitation to work together in <b style="color: #ff4081">deconstructing and reconstructing</b> our social relationships—to take 
                Chimamanda Ngozi's words seriously when she states that:</p>
    
            <blockquote>
                <p><b style="color: #0b6cda">"Culture does not make people. People make culture."</b></p>
                <footer>— Chimamanda Ngozi Adichie <a href="#ref5"><sup>[5]</sup></a></footer>
            </blockquote>
    
            <section class="references">
                <h2>References</h2>
                <ol>
                    <li id="ref1">Rummel E, Wilson M, Kooistra M. Printing and the book. In: <em>Renaissance and Reformation</em>. Oxford University Press; 2010. Available from: 
                        <a href="http://dx.doi.org/10.1093/obo/9780195399301-0004" target="_blank">http://dx.doi.org/10.1093/obo/9780195399301-0004</a></li>
                    <li id="ref2">Escobar A. <em>Sentipensar con la tierra: Nuevas lecturas sobre desarrollo, territorio y diferencia.</em> Ediciones Unaula; 2014. p. 139.</li>
                    <li id="ref3">Martín Barbero J. <em>Transdisciplinariedad: Notas para un mapa de sus encrucijadas cognitivas y sus conflictos culturales</em> [Internet]. 2005 
                        [cited 2025 Mar 9]. Available from: <a href="../assets/library/transdisciplinariedad-martin-barbero.pdf" target="_blank">
                        https://www.debatecultural.net.ve/Observatorio/JesusMartinBarbero2.htm</a></li>
                    <li id="ref4">Lederach JP. <em>The Moral Imagination</em>. Oxford University Press; 2005.</li>
                    <li id="ref5">Adichie CN. <em>We should all be feminists</em> [Internet]. In: TED Talks [Video]. 2017 [cited 2025 Mar 9]. Available from:
                        <a href="https://www.ted.com/talks/chimamanda_ngozi_adichie_we_should_all_be_feminists" target="_blank">
                        https://www.ted.com/talks/chimamanda_ngozi_adichie_we_should_all_be_feminists</a></li>
                </ol>
                <hr width="100%" size="1" color="black">
                <ol>
                    <li id="footnote-1">
                        <p>Understanding user experience as a collection of interactions between a person and an environment or device; time, usage 
                            possibilities, and system inputs/outputs.
                            <a href="#footnote-1-ref">&#8617;</a></p>
                    </li>
                </ol>
            </section>
        </section>
    </div>
  </div>

  <!-- Second row 
  <div class="timer-container">
    <div class="timer">
        <div class="timer-unit">
            <div class="number" id="days">00</div>
            <div class="label">Días</div>
        </div>
        <div class="timer-unit">
            <div class="number" id="hours">00</div>
            <div class="label">Horas</div>
        </div>
        <div class="timer-unit">
            <div class="number" id="minutes">00</div>
            <div class="label">Minutos</div>
        </div>
        <div class="timer-unit">
            <div class="number" id="seconds">00</div>
            <div class="label">Segundos</div>
        </div>
    </div>
  </div>-->
</div>

<!--<script src="../assets/js/landing.js"></script>-->