<link rel="stylesheet" href="../assets/css/menu.css">

<div class="expanded-menu">
  <div class="navbar">
    <div class="icon-box" data-page="../pages/soon.html">
      <div class="icon">&#xe68f;</div>
    </div>
    <div class="icon-box" data-page="../pages/soon.html">
      <div class="icon">&#xf52d;</div>
    </div>
    <div class="icon-box" data-page="../components/landing.html">
        <div class="icon">&#xe23a;</div>
    </div>
    <div class="icon-box" data-page="https://github.com/alfabeto-digital/conspiratorios_populares_de_las_soberanias">
      <div class="icon">&#xf489;</div>
    </div>
    <div class="icon-box" data-page="../pages/soon.html">
      <div class="icon">&#xf16a5;</div>
    </div>
  </div>
</div>